.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}

body {
  width: 1120px;
  margin: 80px auto;
  font-family: "Open Sans", sans-serif;
}
.info {
  font-size: 16px;
  font-weight: 600;
  color: #e1624f;
}

header img {
  width: 1120px;
  height: 660px;
  object-fit: cover;
  border-radius: 28px;
}

main img {
  width: 1120px;
  height: 350px;
  object-fit: cover;
  border-radius: 28px;
}

p {
  color: #333333;
  font-size: 16px;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 32px;
}
h3{
  font-size: 28px;
}