.divider {
  width: 100%;
  height: 1px;
  margin: 64px 0;
  background-color: #d9d9d9;
}

body {
  width: 1120px;
  margin: 80px auto;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.info {
  font-size: 16px;
  font-weight: 600;
  color: #e1624f;
}

header img {
  width: 1120px;
  height: 660px;
  object-fit: cover;
  border-radius: 28px;
}

header p {
  font-style: italic;
}

main img {
  width: 1120px;
  height: 350px;
  object-fit: cover;
  border-radius: 28px;
}

main p {
  color: #333333;
  font-size: 16px;
  margin-top: 0px;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 32px;
  margin-top: 2px;
  margin-bottom: 8px;
}

h3 {
  font-size: 28px;
  margin-bottom: 4px;
}

h1,
h2,
h3 {
  font-weight: bold;
}

ul li:nth-child(1) span {
  color: #0c51a7;
}

ul li:nth-child(2) span {
  color: #e5245e;
}

ul li:nth-child(3) span {
  color: #e95e10;
}
